<ion-header class="ion-no-padding">
  <ion-toolbar>
    <ion-row class="ion-no-padding">
      <ion-col size="9">
        <h2 class="section-header">Good afternoon, Lola</h2>
      </ion-col>
      <ion-col size="3">
          <img src="../../assets/image/design/avatar.png">
      </ion-col>
    </ion-row>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="ForYou">
        <ion-label color="light" font-size="medium">For you</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Friends">
        <ion-label color="light" font-size="medium">Friends</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-no-padding" *ngFor="let entry of data">
    <ion-col size="9">
      <h2 class="section-header">{{ entry.title }}</h2>
    </ion-col>

    <ion-slides [options]="opts">
      <ion-slide *ngFor="let album of entry.albums" tappable (click)="openAlbum(album)">
        <img [src]="'../../assets/image/albums/'+dasherize(album.image)+'.jpg'">
        <span class="title">{{ album.title }}</span>
      </ion-slide>

    </ion-slides>
  </ion-row>

</ion-content>
