
<ion-content>
  <img class=logo src="../../assets/img/logo.png">
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item class="email">
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>
 
    <button class="button-1" type="submit" expand="block" [disabled]="!credentials.valid">Sign in</button>
    <ion-button class="text-1" type="button" expand="block" fill="clear">New user? Sign up here!
    </ion-button>
 

  </form>
</ion-content>