

ion-slides {
    height: 100%;
    --bullet-background-active: #fff;
    --bullet-background: #000;
}
ion-content {
    --background: url('/assets/img/bg.jpg') no-repeat center;
}

.logo {
padding-top: 40px;
width: 260px;
height: 280px;
left: 77px;
top:40px;

}
.text {
    margin-bottom: 190px;
    font-size:20px;
}
.button {
background-color: #7795A7;
width: 300px;
height: 72px;
left: 67px;
top: 614px;
border-radius:20px;
font-size: 30px;
margin-bottom:100px;


}